.splash {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background:black;
    color:lavender;
    z-index:50;
    text-align:center;
}

.splash h1 {
    font-family: PT Sans;
    font-weight:lighter;
    font-size: 75px;
    color:lavender;
    text-shadow: white 10px;
    z-index:55;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash.display-none {
    position:fixed;
    opacity: 0;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background:black;
    z-index:-10;
    color:#A4CBCA;
    text-align:center;
    line-height:90vh;
    transition: all 1s;
}

.splash #waves {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation:fadeIn 2s ease-in forwards;
}

.enter {
    background-color: white;
    padding: 25px 45px;
    color: lavender;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    font-size: 25px;
    font-family: PT Sans;
    border-radius: 10px;
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.enter:hover {
    background-color: lavender;
    color: gray;
    border: 2px solid white;
    text-decoration:none;
}

#entertext {
    text-decoration: none;
    color: gray;
}

.after h1 {
    font-family: PT Sans;
    font-weight:lighter;
    text-align:center;
    top: 20%;
    padding:40px;
}

/* #type {
    overflow:hidden;
    border-right: 2px solid black;
    white-space: nowrap;
    animation: type 2s steps(18);
} */

@keyframes type {
    0% {
        width:0ch;
    }
    100% {
        width:18ch;
    }
}

.after {
    background-color:rgb(235,255,253,1);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
}