body {
    overflow: hidden;
    height: 100vh;
    background-color: #ffceed;
    font-family: PT Sans;
}

/* Header */
h2 {
    font-family: PT Sans;
    text-align: center;
    padding-top: 5px;
}

/* Hearts Animation */
@keyframes heartfade {
    0% {
        opacity : 1;
    }
    50% {
        opacity : 0;
    }
}
.heart {
    z-index : 5;
    animation : heartfade 1s linear;
    position : absolute; 
    width: 120%;
    height: 300%;
    margin-left:-5px;
}
.heart:before,
.heart:after {
    content : "";
    background-color : #fc2a62;
    position : absolute;
    height : 30px;
    width : 45px;
    border-radius : 15px 0px 0px 15px;
}

.heart:before {
    transform : rotate(45deg);
}

.heart:after {
    left : 10.5px;
    transform : rotate(135deg);
}

/* Flex Box */
.container {
    position:relative;
    z-index:100;
    opacity: 80%;
    margin: 15px;
    background-color: #ffe1e0;
    font-family: 'Kaushan Script',cursive;
    font-size: 5vh;
    text-align: center;
    animation: box 2s linear;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 5px solid white;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 40vh;
    border: 7px solid white;
  }

  .a-text {
      padding: 15vh;
  }

  .c-text {
      padding: 11vh;
  }

@keyframes box {
    0% {
        opacity : 0;
    }
    50% {
        opacity : 1;
    }
}

/* Modal Content */
.modal {
    display:none;
    width: 105%;
    height: 130%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: -120px;
    margin-left:-45px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    z-index:100;
}

.modal-content {
    width: 623px;
    height: 278px;
    background:white;
    border-radius: 27px;
    text-align: center;
    padding: 20px;
}

.modal-content p {
    font-family: PT Sans;
    font-size: 20px;
}

h3 {
    margin: 10px;
}
